/* Styling for desktop only */
@media (min-width: 1024px) {
  /* Desktop-specific styles here */
}

/* Styling for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .header-shop-name {
    font-size: 24px;
  }
}

/* Styles for Small Screens (Mobile Phones) */
@media (max-width: 767px) {
  .app-header {
    flex-direction: row;
    padding: 10px;
    text-align: center;
  }
}

/* Styles for Extra Small Screens */
@media (max-width: 480px) {
  .app-header {
    padding: 5px;
  }
}
