/* Container layout */
.account-page-container {
  display: flex;
  padding: 20px;
  font-family: "Georgia", serif;
  margin: 100px 0 0 auto;
}

/* Sidebar styling */
.account-page-sidebar {
  width: 20%;
  height: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.account-page-sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.account-page-sidebar ul {
  list-style: none;
  padding: 0;
}

.account-page-sidebar ul li {
  font-size: 16px;
  margin: 10px 0;
  color: #664229;
  cursor: pointer;
  padding: 10px;
}

.account-page-sidebar ul li.account-page-selected {
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
}

.account-page-content-section {
  margin-left: 20px;
}
