@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Roboto Slab", serif;
}

.product-card-container {
  max-width: 1400px;
  margin: 20px 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-heading {
  text-align: start;
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  color: rgb(17, 16, 16);
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.no-product {
  text-align: start;
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  color: rgb(17, 16, 16);
}

/* Styles for Extra Small Screens */
@media (max-width: 480px) {
  .product-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card-heading {
    font-size: 22px;
  }
  .no-product {
    font-size: 22px;
  }
}
