.categories-heading {
  text-align: start;
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  color: rgb(17, 16, 16);
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1px;
}

.category-card {
  width: 240px;
  height: 240px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.category-card h3 {
  margin-top: 20px;
  font-size: 16px;
}

/* Styles for Medium Screens (Tablets) */
@media (max-width: 950px) {
  .category-card {
    width: 120px;
    height: 110px;
    margin: 40px 8px;
  }
}

/* Styles for Small Screens (Mobile Phones) */
@media (max-width: 767px) {
  .categories-heading {
    font-size: 22px;
  }

  .category-card {
    width: 110px;
    height: 110px;
    margin: 30px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category-card h3 {
    margin-top: 10px;
    font-size: 14px;
  }
}
