.cat-card-product-card-link {
  width: auto;
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.cat-card-product-container {
  max-width: 1400px;
  margin: 100px 10px 20px 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-card-product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cat-card-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  margin: 5px;
  padding: 9px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s;
}

.cat-card-product-card:hover {
  transform: scale(1.05);
}

.cat-card-discount-badge {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: orange;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.cat-card-product-image {
  width: 230px;
  height: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-card-product-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  max-height: 220px;
}

.cat-card-truncate-text {
  display: -webkit-box;
  /* stylelint-disable-next-line property-no-unknown */
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical; /* Required for the line clamp to work */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 180px; /* Adjust as per your design */
  margin: 8px 0;
}

.cat-card-product-details h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: #333;
  margin: 5px 0;
}

.cat-card-product-details .cat-card-price {
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.cat-card-product-details .cat-card-price span {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.cat-card-add-to-cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  color: red;
  cursor: pointer;
  margin-top: auto;
  border-radius: 5px;
  font-weight: 700;
}

.cat-card-remove-btn {
  padding: 10px 20px;
  margin-right: 10px;
}

.cat-card-add-to-cart-btn {
  padding: 10px 20px;
}

.cat-card-add-btn {
  padding: 10px 20px;
  margin-left: 10px;
}

/* ----------------------------------------- */

/* Styles for Medium Screens (Tablets) */
@media (max-width: 950px) {
  .cat-card-product-card {
    width: 31%;
    margin: 1%;
  }
  .cat-card-product-image {
    width: 100%;
    height: 200px;
  }

  .cat-card-product-image img {
    max-height: 200px;
  }
}

/* Styles for Small Screens (Mobile Phones) */
@media (max-width: 767px) {
  .cat-card-product-card {
    border-radius: 5px;
    width: 48%;
    height: 400px;
  }
}

/* Styles for Extra Small Screens */
@media (max-width: 480px) {
  .cat-card-product-card {
    border-radius: 2px;
    width: 46%;
    height: 270px;
  }
  .cat-card-product-image {
    height: auto;
  }

  .cat-card-product-image img {
    border-radius: 5px;
    margin: 0 auto;
    max-height: 122px;
  }

  .cat-card-product-details {
    height: 90px;
  }

  .cat-card-product-details h3 {
    font-size: 18px;
    margin: 1px 0;
  }

  .cat-card-add-to-cart-container {
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
  }

  .cat-card-remove-btn {
    padding: 1px 1px;
    margin-right: 1px;
  }

  .cat-card-add-to-cart-btn {
    font-size: 15px;
    padding: 1px 1px;
  }

  .cat-card-add-btn {
    padding: 1px 1px;
    margin-left: 1px;
  }
}
