.header {
  display: flex;
  padding: 10px 20px;
  background-color: #f8f8f8;
  font-family: sans-serif;
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  color: inherit;
}
