.cat-menu-product-container {
  max-width: 1400px;
  margin: 20px 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cat-menu-product-container h1 {
  margin-bottom: 20px;
  color: black;
  font-weight: bolder;
  font-size: x-large;
}

.cat-menu-product-list {
  display: flex;
  flex-wrap: wrap;
}

.cat-menu-product-card-link {
  width: 20%;
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.cat-menu-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #111111;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* width: 19%; */
  height: 400px;
  margin: 5px;
  padding: 9px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s;
}

.cat-menu-product-card:hover {
  transform: scale(1.05);
}

/* 
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.2s;
}

.product-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
*/

.cat-menu-discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: orange;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.cat-menu-product-image {
  width: auto;
  border-radius: 10px;
  height: 50%;
  flex-grow: 1;
}

.cat-menu-product-details {
  flex-grow: 0;
  margin-bottom: 15px;
  /* margin-top: 10px; */
}

.cat-menu-product-details h3 {
  font-size: 18px;
  color: #333;
  margin: 15px 0;
  flex-grow: 1;
}

.cat-menu-product-details .cat-menu-price {
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.cat-menu-product-details .cat-menu-price span {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.cat-menu-add-to-cart-btn {
  background-color: #f16191;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 10px; */
  width: 100%;
  margin-top: auto;
}

.cat-menu-product-card .cat-menu-add-to-cart:hover {
  background-color: #c2185b;
}

.cat-menu-product-container p {
  font-weight: bolder;
  font-size: large;
}
