/* Basic resets */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
} */

/* Container for the whole page */
.product-menu-container {
  max-width: 100%;
  margin: 100px 50 0 50;
}

/* Product Page Layout */
.product-menu-page {
  display: flex;
  gap: 20px;
}

/* Left Side - Product Images */
.product-menu-main-image img {
  width: 500px;
  border: 1px solid #e0e0e0;
}

/* Right Side - Product Details */
.product-menu-details {
  width: 58%;
  margin-left: 50px;
}

.product-menu-details h1 {
  font-size: 35px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
}

.product-menu-price {
  font-size: 18px;
  margin-bottom: 15px;
}

.product-menu-current-price {
  font-weight: bold;
  color: #333;
  font-size: 24px;
}

.product-menu-original-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 20px;
}

.product-menu-discount {
  color: #f44336;
  font-size: 16px;
  margin-left: 20px;
}

.product-menu-points-info {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

.product-menu-out-of-stock {
  color: #f44336;
  font-size: 30px;
  margin-bottom: 20px;
}

.product-menu-action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-menu-add-to-cart-container {
  border: 1px solid red;
  color: red;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.product-menu-remove-btn {
  color: red;
  cursor: pointer;
  padding: 10px 20px;
}

.product-menu-add-to-cart-btn {
  color: red;
  cursor: pointer;
  padding: 10px 20px;
}

.product-menu-add-btn {
  color: red;
  cursor: pointer;
  padding: 10px 20px;
}

.product-menu-buy-now-btn {
  background-color: red;
  color: #fff;
  width: 250px;
  font-weight: 600;
  margin-left: 60px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.product-menu-delivery-options h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-menu-pincode-input {
  padding: 10px;
  width: 30%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-menu-check-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-menu-delivery-info {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

/* Styles for Medium Screens (Tablets) */
@media (max-width: 950px) {
  .header-shop-name {
    font-size: 24px;
  }
}

/* Styles for Small Screens (Mobile Phones) */
@media (max-width: 767px) {
  .app-header {
    flex-direction: row;
    padding: 10px;
    text-align: center;
  }
}

/* Styles for Extra Small Screens */
@media (max-width: 480px) {
  .app-header {
    padding: 5px;
  }
}
