/* Container for the whole page */
.product-menu-container {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 95%;
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 100px 50 0 50;
}

/* Product Page Layout */
.product-menu-page {
  display: flex;
  gap: 20px;
}

/* Left Side - Product Images */
.product-menu-main-image img {
  width: 500px;
  border: 1px solid #e0e0e0;
}

/* Right Side - Product Details */
.product-menu-details {
  width: 58%;
  margin-left: 50px;
}

.product-menu-details h1 {
  font-size: 35px;
  font-weight: 350;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
}

.product-menu-price {
  font-size: 18px;
  margin-bottom: 15px;
}

.product-menu-current-price {
  font-weight: bold;
  color: #333;
  font-size: 24px;
}

.product-menu-original-price {
  text-decoration: line-through;
  color: rgb(73, 73, 73);
  margin-left: 20px;
}

.product-menu-discount {
  color: white;
  background-color: #ff9800;
  padding: 5px;
  font-size: 16px;
  margin-left: 20px;
}

.product-menu-points-info {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.product-menu-out-of-stock {
  color: #f44336;
  font-size: 30px;
  margin-bottom: 20px;
}

.product-menu-action-buttons {
  display: flex;
  /* gap: 10px; */
  margin-bottom: 20px;
}

.product-menu-add-to-cart-container {
  border: 1px solid red;
  color: red;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.product-menu-remove-btn {
  color: red;
  cursor: pointer;
  padding: 10px 20px;
}

.product-menu-add-to-cart-btn {
  color: red;
  cursor: pointer;
  padding: 10px 20px;
}

.product-menu-add-btn {
  color: red;
  cursor: pointer;
  padding: 10px 20px;
}

.product-menu-buy-now-btn {
  background-color: red;
  color: #fff;
  width: 250px;
  font-weight: 600;
  margin-left: 60px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.product-menu-delivery-options h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-menu-pincode-input {
  padding: 10px;
  width: 30%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-menu-check-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-menu-delivery-info {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

/* -------------------------------------------------------------------------------- */

/* Styling for tablet */
@media (min-width: 769px) and (max-width: 1023px) {
  .product-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 90px 0 0 0;
  }
  .product-menu-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    width: 98%;
    max-width: 100%;
    border: 1px solid black;
  }

  .product-menu-main-image {
    width: 100%;
  }

  /* Product image resizing */
  .product-menu-main-image img {
    width: 100%;
    height: auto;
  }

  .product-menu-details {
    width: 100%;
    margin-left: 1px;
    padding: 10px;
  }
}
/* -------------------------------------------------------------------------------- */

/* For Mobile View */
@media (max-width: 768px) {
  .product-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 90px 0 0 0;
  }
  .product-menu-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    width: 98%;
  }

  .product-menu-main-image {
    width: 100%;
  }

  /* Product image resizing */
  .product-menu-main-image img {
    width: 100%;
    height: auto;
  }

  .product-menu-details {
    width: 100%;
    margin-left: 1px;
    padding: 10px;
  }

  .product-menu-details h1 {
    font-size: 25px;
  }

  .product-menu-action-buttons {
    width: 100%;
    gap: 1px;
    justify-content: space-around;
  }

  .product-menu-add-to-cart-container {
    width: 100%;
  }

  .product-menu-buy-now-btn {
    width: 100%;
  }

  /* Pincode Input and Check Button */
  .product-menu-pincode-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .product-menu-check-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  /* Delivery information */
  .product-menu-delivery-info {
    font-size: 14px;
    margin-top: 10px;
  }
}

/* -------------------------------------------------------------------------------- */

/* Styles for Extra Small Screens */
@media (max-width: 480px) {
  .product-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 90px 0 0 0;
  }
  .product-menu-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    width: 98%;
    max-width: 100%;
    border: 1px solid black;
  }

  .product-menu-main-image {
    width: 100%;
  }

  /* Product image resizing */
  .product-menu-main-image img {
    width: 100%;
    height: auto;
  }
  .product-menu-details {
    width: 100%;
    margin-left: 1px;
    padding: 10px;
  }
  .product-menu-details h1 {
    font-size: 20px;
  }
  .product-menu-action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    gap: 1px;
  }

  .product-menu-add-to-cart-container {
    width: 60%;
  }

  .product-menu-buy-now-btn {
    width: 60%;
    margin-left: 0px;
  }
}
